<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Sports Shoes Application</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
.jumbotron{
margin-left:10%;
background-color: white;
width:100;

}
.row {
 background-image :  url(/images/OIP.jpg);
  background-position: left;
  margin-left:10%;
 background-repeat: no-repeat;
}
body {
   
    height: 20%; 
    width:20%;
    background-position: right;
    background-repeat: no-repeat;
   /*  background-size: cover;
   
 */}
.navbar {
	background-color: green;
	
}
.row
{
border: 3px solid gray;
  border-radius: 5px;
}
</style>
<!-- <img th:src="@{/images/shoe.jpg}"  width="250" alt="shoe image"/> -->

<body>

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}"> <span class="glyphicon glyphicon-home"></span> Home</a>
				<a class="navbar-brand" href="#" th:href="@{/login}">Login</a>
				<a class="navbar-brand" href="#" th:href="@{/}">About us</a>
				<a class="navbar-brand" href="#" th:href="@{/}">Contact us</a>
			</div>
		</div>
	</nav>

	
	<div class="container">
	<div class="jumbotron">
  <h1>Sport Shoes Store</h1> 
  <p>www.sportyshoes.com</p> 
</div>
		<div class="row">
		
			<div class="col-md-6 col-md-offset-3">
			

				<h3>Admin Login Page</h3>
				<form th:action="@{/login}" method="post">

					<!-- error message -->
					<div th:if="${param.error}">
						<div class="alert alert-danger">Invalid username or
							password.</div>
					</div>

					<!-- logout message -->
					<div th:if="${param.logout}">
						<div class="alert alert-info">You have been logged out.</div>
					</div>

					<div class="form-group">
						<label for="username"> Username </label> : <input type="text"
							class="form-control" id="username" name="username"
							placeholder="Enter Email ID" autofocus="autofocus">
					</div>

					<div class="form-group">
						<label for="password">Password</label>: <input type="password"
							id="password" name="password" class="form-control"
							placeholder="Enter Password" />
					</div>

					<div class="form-group">
						
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-primary" value="Log In" />
							</div>
						
					</div>
				</form>
				<div class="form-group">
					<span>New user? <a href="/" th:href="@{/registration}">Register
							here</a></span>
				</div>
			</div>
		</div><br>
		<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Contact us <a href="https://www.sportyshoes.com" title="Visit sportyshoes">www.sportyshoes.com</a></p>
</footer>
</div>





</body>
</html>