<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Sports Shoes Application</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
td{display:block;float:left;width:60%;
}

.row {
width:40%;
padding-left:10px;
padding-top:10px;
padding-bottom:10px;
padding-right:10px;
	
/* 	border: 3px solid gray;
	border-radius: 3px;
 */}
img{
width:120Px;
height:120px;
}
table{
margin-left:40%;}
th{
font-weight:10px;
}
.btn {
	width: 330px;
}

input {
	width: 15%;
}

.navbar {
	background-color: green;
}
</style>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}"><span class="glyphicon glyphicon-home"></span> Home </a> <a
					class="navbar-brand" th:href="@{/product}"> <span class="glyphicon glyphicon-save"></span> Add New Product</a> 
					 <a class="navbar-brand" th:href="@{/viewproducts}"> <span class="glyphicon glyphicon-th-list"></span> Product List</a>
					<a
					class="navbar-brand" th:href="@{/purchaseReport}">Purchase
					Report  <span class="glyphicon glyphicon-download-alt"></span></a> <a class="navbar-brand" th:href="@{/signeduserlist}">View
					Signed Users <span class="glyphicon glyphicon-search"></span></a> <a class="navbar-brand" th:href="@{/changepassword}">Change
					Password</a> <a class="navbar-brand" th:href="@{/logout}">Logout</a>

			</div>
		</div>
	</nav>
	<br>
	<br>
	<center>
		<br>

	<div class="row">
		<h1>Product List</h1>
<table>

			
				<tr th:each="product:${productlist}">

					<td><img th:src="${product.photosImagePath}"/></td>
					<td th:text="'Product Name : '+${product.product_name}"></td>
					<td th:text="'Brand Name : '+${product.brand_name}"></td>
					<td th:text="'Manufacturer : '+${product.manufacturer}"></td>
					<td th:text="'Standard Price : '+${product.standard_price}"></td>
					<td th:text="'MRP : '+${product.maximum_retail_price}"></td>
					<td th:text="'Offers: '+${product.offers}"></td>
					<td th:text="'SKU: '+${product.sku}"></td>
					<td th:text="'Product Enrichment: '+${product.product_enrichment}"></td>
					<td th:text="'Keyword : '+${product.keyword}"></td>
					<td th:text="'Discount : '+${product.discount}"></td>
					<td th:text="'Stock : '+${product.stock}"></td>
					<td th:text="'Gender : '+${product.gender}"></td>
					<td th:text="'Color: '+${product.color}"></td>
					<td th:text="'Size : '+${product.size}"></td>
					<td th:text="'Shoe Category: '+${product.shoe_type}"></td>
					<td th:text="'image: '+${product.photos}"></td>
					<td><a class="btn btn-primary"
						th:href="@{/editproduct/{id}(id=${product.id})}">Update</a></td>
				</tr>
			
		</table>
</div>

	<!-- 	<table border="0" class="table table-striped table-responsive-md">
			<thead>
				<tr><th>Image File</th>
					<th>Product Name</th>
					<th>Brand Name</th>
					<th>Manufacturer</th>
					<th>Standard Price</th>
					<th>MRP</th>
					<th>Offers</th>
					<th>SKU</th>
					<th>Product Enrichment</th>
					<th>Keyword</th>
					<th>Discount</th>
					<th>Stock</th>
					
					<th>Gender</th>
					<th>Color</th>
					<th>Size</th>
					<th>Shoe Category</th>
					<th>Add Item</th>
					<th>Update</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product:${productlist}">
				    
				<td><img th:src="${product.photosImagePath}"/></td>
					<td th:text="${product.product_name}"></td>
					<td th:text="${product.brand_name}"></td>
					<td th:text="${product.manufacturer}"></td>
					<td th:text="${product.standard_price}"></td>
					<td th:text="${product.maximum_retail_price}"></td>
					<td th:text="${product.offers}"></td>
					<td th:text="${product.sku}"></td>
					<td th:text="${product.product_enrichment}"></td>
					<td th:text="${product.keyword}"></td>
					<td th:text="${product.discount}"></td>
					<td th:text="${product.stock}"></td>
					<td th:text="${product.gender}"></td>
					<td th:text="${product.color}"></td>
					<td th:text="${product.size}"></td>
					<td th:text="${product.shoe_type}"></td>
					<td><a class="navbar-brand" th:href="@{/product}"></a></td>
					<td><a class="navbar-brand" th:href="@{/editproduct/{id}(id=${product.id})}">Update</a></td>
				</tr>
			</tbody>
		</table> -->
	
</body>

</html>