<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Employees</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

 <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
thead{
background-color: green;
color:white;
}
.navbar {
	background-color: green;
}
</style>
<body>

<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Home </a> <a
					class="navbar-brand" th:href="@{/product}">Add New Product</a> 
					 <a class="navbar-brand" th:href="@{/viewproducts}">Product List</a>
					<a
					class="navbar-brand" th:href="@{/purchaseReport}">Purchase
					Report</a> <a class="navbar-brand" th:href="@{/signeduserlist}">View
					Signed Users</a> <a class="navbar-brand" th:href="@{/changepassword}">Change
					Password</a> <a class="navbar-brand" th:href="@{/logout}">Logout</a>

			</div>
		</div>
	</nav>
<br><br>
    <div class="container my-2">
    
        <div th:switch="${users}" class="container my-5">
                
      
     
     <center><h1>Search User </h1>
    		 <form th:action="@{/signeduserlist/search}" method="get">
 			 <input type="text" name="email" th:value="${email}"  placeholder="Find by email id" size="50" >
  			 <button type="submit" class="btn btn-primary" >Search</button>
  			 <button type="submit" class="btn btn-primary" >Reset</button>
  			 </form>
    </center><br>
    
            <div class="col-lg-15">
                <h2 th:case="null">No record found !!</h2>
                <div th:case="*">
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                 <th>Contact No</th>
                              <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.first_name}"></td>
                                <td th:text="${user.last_name}"></td>
                                <td th:text="${user.email}"></td>
                                 <td th:text="${user.contact_no}"></td>
                                 <td th:text="${user.address}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
 
            </div>
        </div>
    </div>
   
</body>