<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Sports Shoes Application</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
.txt {
	width: 200px;
}


.row {
	width: 60%;

	/* 	border: 3px solid gray;
	border-radius: 3px;
 */
}

th {
	font-weight: 10px;
}

.btn {
	width: 330px;
}

input {
	width: 15%;
}

.navbar {
	background-color: green;
}
</style>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}"><span
					class="glyphicon glyphicon-home"></span> Home </a> <a
					class="navbar-brand" th:href="@{/product}"> <span
					class="glyphicon glyphicon-save"></span> Add New Product
				</a> <a class="navbar-brand" th:href="@{/viewproducts}"> <span
					class="glyphicon glyphicon-th-list"></span> Product List
				</a> <a class="navbar-brand" th:href="@{/purchaseReport}">Purchase
					Report <span class="glyphicon glyphicon-download-alt"></span>
				</a> <a class="navbar-brand" th:href="@{/signeduserlist}">View
					Signed Users <span class="glyphicon glyphicon-search"></span>
				</a> <a class="navbar-brand" th:href="@{/changepassword}">Change
					Password</a> <a class="navbar-brand" th:href="@{/logout}">Logout</a>

			</div>
		</div>
	</nav>
	<br>
	<br>
	<div th:if="${param.success}">
		<div class="alert alert-info">You've successfully Changed
			Password!</div>
	</div>
	<center>
			<h3>Update Product</h3>
		</center>
		<br>
	
		<!-- success message -->
		<div th:if="${success}">
			<div class="alert alert-info">
				<center>
					<b>You've successfully Added Product</b>
				</center>
			</div>
		</div>
	<div class="container">


		

		<form action="#" th:action="@{/saveProduct}" th:object="${product}"
			method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			<table align="center">
				<tr>
					<td><label>Product Name</label></td>
					<td><input type="text" th:field="*{product_name}" class="txt"></td>
				</tr>


				<tr>
					<td><label>Brand Name</label></td>
					<td><input type="text" th:field="*{brand_name}" class="txt"></td>
				</tr>

				<tr>
					<td><label>Standard Price</label></td>
					<td><input type="text" th:field="*{standard_price}"
						class="txt"></td>
				</tr>

				<tr>
					<td><label>MRP</label></td>
					<td><input type="text" th:field="*{maximum_retail_price}"
						class="txt"></td>
				</tr>

				<tr>
					<td><label>Offers</label></td>
					<td><input type="text" th:field="*{offers}" class="txt"></td>
				</tr>

				<tr>
					<td><label>SKU</label></td>
					<td><input type="text" th:field="*{sku}" class="txt"></td>
				</tr>

				<tr>
					<td><label>Product Enrichment</label></td>
					<td><input type="text" th:field="*{product_enrichment}"
						class="txt"></td>
				</tr>

				<tr>
					<td><label>Keyword</label></td>
					<td><input type="text" th:field="*{keyword}" class="txt"></td>
				</tr>
				<tr>
					<td><label>Discount</label></td>
					<td><input type="text" th:field="*{discount}" class="txt"></td>
				</tr>

				<tr>
					<td><label>Stock</label></td>
					<td><input type="text" th:field="*{stock}" class="txt"><br></td>
				</tr>

				<tr>
					<td><label>Manufacturer</label></td>
					<td><input type="text" th:field="*{manufacturer}" class="txt"></td>
				</tr>

				<tr>
					<td><label>Gender</label></td>
					<td><input type="text" th:field="*{gender}" class="txt"></td>
				</tr>
				<tr>
					<td><label>Color</label></td>
					<td><input type="text" th:field="*{color}" class="txt"></td>
				</tr>
				<tr>
					<td><label>Size</label></td>
					<td><input type="text" th:field="*{size}" class="txt"></td>
				</tr>
				<tr>
					<td><label>Shoe Category</label></td>
					<td><input type="text" th:field="*{shoe_type}" class="txt"></td>
				</tr>
				<tr>
					<td><label>Image</label></td>
					<td><input type="text" th:field="*{photos}" class="txt"></td>
				</tr>
</table>
			<center>	<button type="submit" class="btn btn-primary">Update
					Product</button></center>
		</form>

		
		
			


		


		
</body>

</html>